main {
}
.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}
.maze-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.maze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maze-button {
  background-color: rgb(78, 78, 216);
  margin: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell.path {
  background: #fff;
}
.cell.wall {
  background: #000;
}
.cell.start {
  background: green;
}
.cell.end {
  background: red;
}
